/* error */
div.error {
	text-align: center;
	font-size: 14px;
	margin: 10px 0px;
	background: #ffd;
	border: 1px solid #950;
	color: #ff0000;
	font-weight: bold;
	padding: 8px 0;
}

label.error {
	color: #ff0000;
	font-size: 13px;
	font-style: italic;
	margin-top: -1px;
}
/* error */












